##  .gitignore

*.bak
*.log
*.pid
*.py[cod]
*.seed
*.sw[po]
*.map

.*~
.coverage*
.DS_Store
.grunt
.idea
.lock-wscript

bower_components
coverage
coverage-reports
lib-cov
logs
node_modules

.ropeproject
.vscode
.leancloud

release.json
